{% extends 'my_site/base.html' %} {% load static %} {% block content %}
<style>
    @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.hover-box {
	position: relative;
	display: inline-block;
	margin: 40px;
	max-width: 210px;
	width: 120%;
	color: #bbb;
	font-size: 16px;
	box-shadow: none !important;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.hover-box *, .hover-box:before, .hover-box:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
.hover-box:before, .hover-box:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 50%;
	content: '';
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
	border: 2px solid #bbb;
	border-color: transparent #bbb;
}
.hover-box img {
	max-width: 100%;
	backface-visibility: hidden;
	vertical-align: top;
	border-radius: 50%;
	padding: 10px;
}
.hover-box figcaption {
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 50%;
}
.hover-box i {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 4em;
	z-index: 1;
}
.hover-box a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.hover-box:hover figcaption{
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.hover-box:hover:before, .hover-box:hover:after {
	border-width: 10px;
}
.hover-box:hover:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.hover-box:hover:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
</style>
<!-- bannerr -->

<div class="banner">
    <img src="{% static 'my_site/img/flight-bg.jpg' %}" alt="background photo" />
    <div class="banner-text">
        <h1>Flight List</h1>
    </div>
</div>

{% for airline in airlines %}
<figure class="hover-box">
    <img src="{{ airline.logo.url }}" alt="sq-sample14">
    
    <figcaption><i class="ion-android-open"></i></figcaption>
    <a href="{% url 'booking' airline.slug %}"></a>
</figure>
{% endfor %}



<br><br>

<!-- <div class="featured-cars">

    <div class="featured-cars-grid">



        {% for flight in airlines %}
        <div class="car">




            <img src="{{ flight.logo.url }}" alt="Flight logo">
            <div class="car-info">
                <div class="car-inf-grid">
                    <p class="carName">{{ flight.name }}</p>

                </div>


                <div class="car-inf-grid">

                    <div class="more-details">
                        <a href="{% url 'booking' flight.slug %}">
                            <button> More detail </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}



    </div>

</div> -->

{% endblock %}