/* color */
:root {
  --green: #000000;
  --red: rgba(254, 201, 17, 255);
  --SeeBlue: #39c0c3;
  --whiteColor: #fff;
  --BlackColor: #000;
  --blueColor: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

/* header */
.contact-info {
  width: 100%;
  min-height: 4vh;
  background-color: var(--red);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--whiteColor);
  font-size: 1rem;
}
header {
  position: relative;
  width: 100%;
  min-height: 6vh;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px; /* Adjust thickness */
  background: linear-gradient(to right, black 50%,rgba(254, 201, 17, 255)  50%);
}






.padding {
  padding: 10px 10%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.nav-links a {
  color: var(--blueColor);
  font-size: 1.1rem;
}

.nav-links li {
  position: relative;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 200px;
  min-height: 10vh;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
}
.dropdown li {
  padding: 10px 0;
}

.cat a {
  font-weight: bolder;
  color: var(--blueColor);
}
.cat-links {
  display: flex;
  flex-direction: column;
}
.nav-links > li:hover .dropdown {
  display: block;
}

.dropdown li {
  display: block;
}
.showDrop.dropdown {
  display: block;
}

.logo img {
  width: 250px;
  height: 10vh;
  object-fit: cover;
}


.new-logo-menu{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}


/* menu icon */
.menu-icon {
  display: none;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.logo-right{
  display: none;
}
.logo-right img{
  width: 100px;
 
}


.remove {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1rem;
  border: solid 1px;
  cursor: pointer;
  color: var(--red);
  padding: 5px 10px;
}

/* slide show */

.slide {
  position: relative;
}

.slide img {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

.slide-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--whiteColor);
  text-align: center;
}

.slide-text h1 {
  font-size: 6rem;
  font-weight: bolder;
  animation: slideTop 0.9s;
}

.slide-text p {
  font-size: 2rem;
  font-weight: bolder;
  animation: slidebottom 1s;
}
.see {
  margin: 4% 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
 
 
}
.btn-custom {
  padding: 15px 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  
}
.slide-left{
  animation: slideleft 1s;
  transition: all 0.3s ease;
}
.slide-right{
  animation: slideright 1s;
  transition: all 0.3s ease;
}

.btn-custom-42 {
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
}

.btn-custom-42:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: var(--red);
  transition: all 0.3s ease;
}

.btn-custom-42:hover {
  color: rgb(0, 0, 0);
}

.btn-custom-42:hover:after {
  top: 0;
  height: 100%;
}

.btn-custom-42:active {
  top: 2px;
}

@keyframes slideTop {
  0% {
    transform: translateY(-50px);
  }
}

@keyframes slidebottom {
  0% {
    transform: translateY(50px);
  }
}

@keyframes slideleft {
  0% {
    transform: translate(-50px);
  }
}

@keyframes slideright {
  0% {
    transform: translate(50px);
  }
}

.slide-show-container {
  position: relative;
  overflow: hidden;
}

.slide {
  display: none; /* Hide all slides by default */
}

.slide:first-child {
  display: block; /* Show the first slide initially */
}

.slide-show-container .prev,
.slide-show-container .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 10;
}

.slide-show-container .prev {
  left: 10px;
}

.slide-show-container .next {
  right: 10px;
}

/* about-us-container */
.about-us-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 5% 10%;
}

.about-us-text {
  width: 100%;
  max-width: 45%;
}

.about-us-text p {
  font-size: 1.1rem;
}

.about-us-img {
  width: 100%;
  max-width: 60%;
}

.about-us-text h2 {
  color: var(--red);
  font-weight: bolder;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

.about-us-img img {
  width: 100%;
  height: 100%;
}

.readMore {
  margin: 4% 0;
}

.readMore a {
  padding: 10px 20px;
  border: solid 2px #01133d;
  border-radius: 10px;
}

.readMore a:hover {
  background-color: var(--blueColor);
  transition: 0.6s ease-in;
  color: var(--whiteColor);
}

/* service-section */

.heading {
  font-size: 2rem;
  padding-bottom: 20px;
  color: var(--blueColor);
  text-align: center;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.btn-see-more {
  border-radius: 4px;
  font-weight: bolder;
  font-size: 1.5rem;
  padding: 4px 6px;
  color: var(--BlackColor) !important;
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn-see-more::after {
  max-width: 100%;
  height: 4px;
  display: block;
  content: "";
  background: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
  opacity: 1;
  margin-bottom: -6px;
  margin-top: 1px;
}

.see-more-cars {
  display: flex;
}

.service-section h2 {
  color: var(--whiteColor);
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2%;
}

.service-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 10%;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.service {
  width: 100%;
  max-width: 100%;
  min-height: 25vh;
  color: var(--whiteColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.service h4 {
  font-size: 1.4rem;
  padding: 5px 0;
}

.service i {
  font-size: 3rem;
  padding: 10px 0;
}

/*featured-cars  */

.featured-cars {
  padding: 5% 10%;
}

.featured-cars-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.car {
  width: 100%;
  max-width: 100%;
  min-height: 40vh;

  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth animation */

  background-color: var(--whiteColor);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.1);
}

.car img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.car-inf-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5px 0;
  color: var(--BlackColor);
}

.car-info {
  padding: 10px;
}

.carName {
  font-size: 2rem;
}

.more-details button {
  background-color: var(--blueColor);
  color: var(--whiteColor);
  width: 100%;
  min-height: 5vh;
  cursor: pointer;
  outline: none;
  border: none;
}
.prices {
  padding-top: 10px;
}
.carPrice {
  font-size: 1.5rem;
  padding-top: 5px;
}

.ratings i {
  color: var(--red);
}
.car:hover {
  transform: scale(1.1);
  color: orange;
}
/* why-choose-us */

.why-choose-us {
  display: flex;
  padding: 1% 10%;
  gap: 1rem;
  background-color: var(--blueColor);
  color: var(--whiteColor);
}

.why-container {
  padding: 10px 15px;
  width: 100%;
  max-width: 100%;
  min-height: 40vh;
}

.why-choose-us h3 {
  font-size: 2rem;
  padding-bottom: 20px;
}

.why-container-img {
  width: 100%;
  max-width: 50%;
}

.why-container-img img {
  width: 100%;
  height: 55vh;
  object-fit: cover;
}

.ready {
  font-size: 1.5rem;
  font-weight: bolder;
}

/* client-review */
.client-review {
  margin: 4% 10%;
}

.client-say-grid {
  display: flex;
  gap: 1rem;
  padding: 1% 0;

  grid-template-columns: 1fr 1fr 1fr;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
  width: 100%;
  max-width: 100%;
  min-height: 35vh;
  text-align: center;
  background-color: var(--whiteColor);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.client-detail {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.client-detail img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* car detail page */

.banner {
  position: relative;
}
.banner img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
.banner-text {
  width: 100%;
  height: 30vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--whiteColor);
  text-align: center;
}

.banner-text h1{
  font-size: 2rem;
}


.Airbnb-banner img{
  width: 100%;
height: 40vh;
  object-fit: cover;
}
.Airbnb-banner {
 position: relative;
}

.Airbnb-banner-text {
  width: 100%;
  height: 40vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}
.Airbnb-banner-text h1, .Airbnb-banner-text p{
  color: var(--whiteColor);
}
.Airbnb-banner-text h1{
  font-size: 3rem;
  color: var(--whiteColor);
}
.Airbnb-banner-text p{
  font-size: 1.5rem;
  color: var(--whiteColor);
}









.banner-text p {
  font-size: 1.2rem;
  padding: 10px 0;
}
/*car-detail-section"
*/
.car-detail-section {
  margin: 1% 10%;
  display: flex;
  flex-direction: column;

  gap: 2rem;
}
.car-detail-image {
  width: 100%;
  max-width: 100%;
}

.car-detail-text {
  width: 100%;
  max-width: 100%;
}
.car-detail-image img {
  width: 100%;
  max-width: 100%;
  height: 80vh;
  object-fit: cover;
}

.payOnarrival {
  background-color: var(--blueColor);
  color: #007bff;
}

.car-name {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding-bottom: 5px;
  font-size: 1.2rem;
  color: var(--blueColor);
  background-color: #e8e8e8;
  width: 100%;
  align-items: center;
  min-height: 7vh;
  padding: 10px 5px;
}

.small-img {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 10px 0;
}

.small-img img {
  width: 300px;
  height: 20vh;
  cursor: pointer;
  border: solid 1px rgba(0, 0, 0, 0.2);
  padding: 2px;
}
.small-img .small-thumbnail.active {
  border: 2px solid #007bff;
  opacity: 0.8;
}

.car-detail {
  padding: 3% 0;
}

.car-detail h4 {
  padding-bottom: 15px;
  font-size: 1.4rem;
}
.car-features-container h4 {
  padding-bottom: 15px;
  font-size: 1.4rem;
}
.car-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.car-features li {
  padding: 15px 0;
}
.car-details-list {
  padding-top: 4%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.car-detail-section strong {
  color: var(--blueColor);
}

.suggestion {
  margin: 1% 10%;
}

.car-detail-text {
  padding: 10px;
  width: 100%;
  max-width: 100%;
  min-height: 35vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.book-btn {
  margin: 2% 0;
}
.book-btn a {
  background-color: var(--blueColor);
  padding: 10px 40px;
  color: var(--whiteColor);
}

/* about us page */

.d-flex {
  display: flex;
  flex-direction: column;
}
.about-us-text {
  width: 100%;
  max-width: none;
}

/* about-service */
.servicepage-section {
  margin: 2% 10%;
}
.a-service {
  width: 100%;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.15);
}
.a-service i {
  font-size: 2rem;
  padding-bottom: 10px;
}
.about-service {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  color: var(--BlackColor) !important;
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50%;
  min-height: 40vh;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.15);
}
.open-modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 30vh;
  color: var(--blueColor);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px 0px 20px rgba(0, 0, 0, 0.15);
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #000;
}

/* contact-us-section */
.contact-us-section {
  display: flex;
  gap: 2rem;
  padding: 2% 10%;
}
.contact-us-section p {
  font-size: 1.5rem;
  color: var(--blueColor);
  font-weight: bolder;
}
.contact-img {
  width: 100%;
  max-width: 40%;
}
.contact-img img {
  width: 100%;
  height: 74vh;
  object-fit: cover;
}

.contact-form {
  width: 100%;
  max-width: 100%;
}
.contact-form form {
  width: 100%;
  padding: 10px 0;
}
.book-contact {
  width: 60%;
}
.book-contact button {
  width: 100%;
}
.input {
  width: 100%;
}

.input input {
  width: 100%;
  min-height: 7vh;
  margin: 2% 0;
  padding: 5px;
}

.input textarea {
  width: 100%;
  min-height: 15vh;
  resize: none;
  margin: 2% 0;
  padding: 5px;
}

form button {
  width: 100%;
  max-width: 100%;
  min-height: 6vh;
  background-color: var(--blueColor);
  border: none;
  color: var(--whiteColor);
  cursor: pointer;
}

/* booking */
.input select {
  width: 100%;
  min-height: 7vh;
  margin: 2% 0;
  cursor: pointer;
}

.booking-container {
  width: 100%;
}

.booking-form {
  width: 100%;
}

.account-container {
  padding: 2% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.set-flex {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.input-flex {
  width: 100%;
}

.ready {
  width: 100%;
  display: inline-block;
  background: var(--red);
  height: 20vh;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--whiteColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.ready a {
  text-decoration: underline;
}

.footer-distributed {
  background: var(--blueColor);

  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span, .footer-co-about {
  color: limegreen;
}
 .footer-co-about {
  color: limegreen;
  font-size: 12px;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name,
.devs {
  color: var(--whiteColor);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.devs a {
  color: var(--red);
}
/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: limegreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  gap: 1rem;
  text-align: center;
  padding: 10px;
}

.status-container i {
  font-size: 3rem;
}
.status-container p {
  font-size: 2.5rem;
}



.terms-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.terms-container h1 {
  font-size: 2rem;
  color: #444;
  text-align: center;
  margin-bottom: 1rem;
}

.terms-container h2 {
  font-size: 1.5rem;
  color: #555;
  margin-top: 1.5rem;
}

.terms-container p {
  margin: 1rem 0;
  text-align: justify;
}

.terms-container ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.terms-container ul li {
  margin-bottom: 0.5rem;
}

.highlight {
  color: #007bff;
  font-weight: bold;
}

@media (max-width: 600px) {
  .terms-container {
    padding: 1rem;
  }

  .terms-container h1 {
    font-size: 1.5rem;
  }

  .terms-container h2 {
    font-size: 1.2rem;
  }
}







.wrapper-container{
  display: flex;
  flex-direction: column;
  padding: 2% 10%;
  align-items: center;
  justify-content: center;
 

}

.wrapper {
  max-width: 100%;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}


.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

.img{
  width: 100%;
  min-height: 40vh;
  padding:10px 20px;
  background-color: var(--whiteColor);
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2), -4px -4px 10px rgba(0, 0, 0, 0.2);

}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}



.negotiable_message {
  color: red;
}



.account-container{
  padding: 5% 7%;
}
.account-container .contact-form{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.account-container form{
  width: 100%;
  max-width: 100%;
}
.account-container input{
  min-height: 10vh;
  margin: 3% 0;
  padding: 10px;
  width: 100%;
}
.login-img{
  width: 100%;
  max-width: 60%;
}
.login-img img{
  width: 100%;
}






/* AIRBNB SECTION */
.airBnB{
  padding-top: 4%;
}

.house-to-book-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  padding: 2% 10%;
  gap: 1rem;
  margin-bottom: 5%;
}

.house-container{
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 40vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;

}
.house-container img{
  width: 100%;
  height: 40vh;
  object-fit: cover;
  border-radius: 10px;

}
.house-container video{
  width: 100%;
  height: 40vh;
 

}

.house-detail{
  padding: 10px;
  line-height: 25px;
}

.add-to-favourite{
  position: absolute;
  top: -2%;
  right: 0;
}
.add-to-favourite button{
  background-color: var(--red);
  color: var(--blueColor);
  border: none;
}

.image-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.image-slider img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  display: none;
  border-radius: 10px;
}

.image-slider img.active {
  display: block;
}

.image-slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.image-slider .prev {
  left: 10px;
}

.image-slider .next {
  right: 10px;
}


/* house-detail-page */


.house-detail-page{
  padding: 3% 10%;
}
.house-detail-page h1{
  font-size: 1.5rem;
}
.house-imgs{
  display: flex;
  gap: 1rem;
  padding: 2% 0;
}

.house-big-img{
  width: 100%;
  max-width: 50%;
}

.house-big-img img{
  width: 100%;
  height: 61vh;
  object-fit: cover;
}

.house-small-img{
  width: 100%;
  max-width: 50%;
}

.house-col{
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.house-col img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
}





.house-detail-section{
  display: flex;
  gap: 2rem;
}
.house-detail{
  width: 100%;
  max-width: 60%;
}

.all-amenities-pop-up {
  display: none;
  position: fixed;
  top: 0;
 backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
}


.all-amenities{
  width: 100%;
  max-width: 40%;
  min-height: 70vh;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.5);

}
.all-amenities li{
  padding: 20px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 1.4rem;
}

.hideBtn{
  position: absolute;
  right: 20px;
  top: 5%;
  border: none;
  background-color: var(--red);
}


.detail-col{
  margin-bottom: 3% ;
  padding: 2% 0;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

}

.seeAllAmenities{
  width: 100%;
  min-height: 7vh;
  max-width: 50%;
  background-color: var(--red);
  border: none;
  cursor: pointer;
}

.detail-col li{
  padding: 10px 0;
}


.house-detail-book{
  width: 100%;
  max-width: 40%;
 height: 30vh;
  background-color: #ffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  padding: 2%;

}


.house-detail-book button{
  width: 100%;
  height: 7vh;
  cursor: pointer;
  border: none;
  background-color: var(--red);
  color: var(--BlackColor);
  border-radius: 10px;
}

.house-price{
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 5% 0;
}


















/* responive */
@media (max-width: 1080px) {
  .padding ,.house-imgs, .house-detail-page h1 {
    padding: 10px 3%;
  }
  .house-detail-page{
    padding: 3% 0;
  }
  .car-detail-section {
    margin: 3%;
  }

  .footer-con {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 950px) {
  .footer-con {
    grid-template-columns: 1fr;
  }

  .nav {
    display: none;
  }

  .nav-links {
    flex-direction: column;
    background-color: var(--whiteColor);
    width: 50%;
    height: 100%;
    z-index: 100;
  }

  .house-imgs{
    flex-direction: column;
  }
  .house-small-img, .house-big-img {
    max-width: none;
  }
  .house-col{
    grid-template-columns: 1fr 1fr;
  }
  .nav-links li {
    width: 100%;

    padding: 15px 0;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  }

  .nav-links li:hover {
    border-bottom: 2px solid #000;
    transition: 0.5s ease-in-out;
  }

  .nav-links a {
    padding: 0 10px;
    color: var(--BlackColor);
  }
  .all-amenities{
    max-width: none;
  }

  .menu-icon {
    display: block;
  }

  .nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    animation: slideIn 0.5s;
    z-index: 100;
  }

  .seeAllAmenities{
    max-width: none;
  }

  .logo{
    display: none;
  }

  .logo-right{
    display: block !important;
  }
  .nav.showNav {
    display: block;
  }
  .remove {
    display: block;
  }

  .nav.closeNav {
    display: none;
  }

  .house-to-book-container{
    grid-template-columns: 1fr 1fr;
  }


  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  .contact-info {
    display: none;
  }

  .about-us-container {
    flex-direction: column;
  }

  .about-us-img,
  .about-us-text {
    max-width: none;
  }

  .book-contact {
    width: 100%;
  }

  .featured-cars-grid {
    grid-template-columns: 1fr 1fr;
  }
  .car-detail-section {
    flex-direction: column;
  }
  .car-detail-image,
  .car-detail-text {
    max-width: none;
  }
  .car-big-img img {
    height: auto;
  }
}

@media (max-width: 780px) {
  .why-choose-us {
    flex-direction: column;
  }

  .house-to-book-container{
    grid-template-columns: 1fr;
    padding: 2%;
  }


  .nav-links {
    width: 100%;
  }

  .why-container-img {
    max-width: none;
  }
  .small-img {
    grid-template-columns: 1fr 1fr;
  }

  .slide-text h1 {
    font-size: 3rem;
  }

  
  .client-say-grid {
    flex-direction: column;
  }
  .service-grid{
    grid-template-columns: 1fr;
  }

  .featured-cars-grid {
    grid-template-columns: 1fr;
  }
  .car-features,
  .about-service {
    grid-template-columns: 1fr;
  }

  .set-flex {
    flex-direction: column;
  }
  .contact-us-section {
    flex-direction: column;
  }
  .contact-img,
  .contact-form {
    max-width: none;
  }
  .contact-img img {
    height: auto;
  }
  .why-choose-us {
    background-color: transparent;
    color: var(--BlackColor);
  }
  .logo img {
    width: 150px;
  }
  .modal-content {
    width: 90%;
  }
  .prev,
  .next {
    display: none;
  }
  .car-name {
    flex-direction: column;
  }
  .about-us-container,
  .service-grid,
  .featured-cars,
  .why-choose-us,
  
  .car-detail-section,
   
  .contact-us {
  padding: 5% 5%;
  }
  
  .servicepage-section,.client-review {
    margin: 1% 5%;
  }

  header{
    background-color: var(--whiteColor);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .slide-text, .slide img{
    height: 60vh;
  }
  .slide-text h1{
    font-size: 2.2rem;
  }
  .slide-text p{
    font-size: 1rem;
  }


  .account-container .contact-form{
    flex-direction: column;
  }
  .login-img {
    max-width: none;
  }


  .Airbnb-banner-text h1{
    font-size: 2rem;
  }
  .Airbnb-banner-text p{
    font-size: 1rem;
  }
  .house-detail-section{
    flex-direction: column;
  }
  .house-detail, .house-detail-book{
    max-width: none;
  }
  .house-detail-book{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: none;
    position: fixed;
    bottom: 0;
    height: 20vh;
    text-align: center;
  }
  .house-detail-book button{
    width: 200px;
  }


}


@media (max-width: 580px) {
.house-detail-book p{
  font-size: 1rem;
}

.house-detail-book button{
  width: 120px;
}
.heading{
  width: 100%;
  justify-content: space-between;
}
.heading h3 , .btn-see-more{
font-size: 1rem;
}

}