<!DOCTYPE html>
<html>

<head>
    <title>Expense Report</title>
</head>

<style>
    .taxi-title {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
</style>

<body>
    
    <h6 style="font-size: 30px; text-align:center;">Taxinet Ghana <br><span style="font-size: 20px;">Expense Report</span></h6>
    
    <h3>Car: {{ car }}</h3>
    
    <h3>Month: {{ month }}</h3>
    
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Car</th>
            <th>Amount Received</th>
            <th>Other Expenses</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Month</th>
        </tr>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.date }}</td>
            <td>{{ expense.car.car_name }}</td>
            <td>GH¢{{ expense.amount_received }}</td>
            <td>GH¢{{ expense.other_expenses }}</td>
            <td>{{ expense.description }}</td>
            <td>GH¢{{ expense.amount }}</td>
            <td>{{ expense.month }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Filtered Totals ({{ month }} - {{ car }})</h3>
    
    <table>
        <tr>
            <th>Total Amount Received</th>
            <td>GH¢{{ totals.total_amount_received|default:"0.00" }}</td>
        </tr>
        <tr>
            <th>Total Other Expenses</th>
            <td>GH¢{{ totals.total_other_expenses|default:"0.00" }}</td>
        </tr>
        <tr>
            <th>Total Amount</th>
            <td>GH¢{{ totals.total_amount|default:"0.00" }}</td>
        </tr>
    </table>
    
    <h3>Overall Totals (All Months - All Cars)</h3>
    
    <table>
        <tr>
            <th>Total Amount Received</th>
            <td>GH¢{{ all_totals.total_amount_received|default:"0.00" }}</td>
        </tr>
        <tr>
            <th>Total Other Expenses</th>
            <td>GH¢{{ all_totals.total_other_expenses|default:"0.00" }}</td>
        </tr>
        <tr>
            <th>Total Amount</th>
            <td>GH¢{{ all_totals.total_amount|default:"0.00" }}</td>
        </tr>
    </table>
</body>

</html>