{% extends 'my_site/base.html' %}
{% load static %}
{% block content %}


<div class="account-container">

    <div class="contact-form">
        <div class="login-img">
            <img src="{{ user.profile.image.url }}" alt="profile photo" />
            <br>
            <br>
            <h2 style="text-align: center;">{{ user.username }}</h2>
            <br>
            <p style="text-align: center;">{{ user.phone }}</p>
        </div>
        <form method="POST" class="form" enctype="multipart/form-data">

            <h2>Update Profile</h2>
            <br>
            {% csrf_token %}

            {{ u_form.as_p }}
            {{ p_form.as_p }}
            
            <button type="submit">Update Profile</button>
        </form>



    </div>
</div>

{% endblock %}