{% extends 'my_site/base.html' %}
{% load static %}
{% block content %}
<style>

</style>

<!-- bannerr -->

<!-- <div class="banner">
  <img src="{% static 'my_site/img/background2.jpg' %}" alt="background photo" />
  <div class="banner-text">
    <h1>Login</h1>
  </div>
</div> -->



<div class="account-container">

    <div class="contact-form">
        <div class="login-img">
            <img src="{% static 'my_site/img/login.PNG' %}" alt="background photo" />

        </div>
        <form method="POST" class="form" action="{% url 'verify_otp_and_reset_password' %}">

            <h2>Login</h2>
            {% csrf_token %}

            <label for="">Phone Number:</label>
            <input type="text" name="phone_number" required>

            <label for="">OTP Code:</label>
            <input type="text" name="otp_code" required>

            <label for="">New Password:</label>
            <input type="password" name="new_password" required>

            <button type="submit">Reset Password</button>

            <p> Create an account? <a href="{% url 'register' %}">Register here</a></p>
        </form>



    </div>
</div>

{% endblock %}