{% extends 'my_site/base.html' %} {% load static %} {% block content %}

<!-- bannerr -->

<div class="banner">
    <img src="{% static 'my_site/img/background2.jpg' %}" alt="background photo" />
    <div class="banner-text">
        <h1>Rent a House Now!</h1>
    </div>
</div>
<h1 style="text-align: center;">No House yet</h1>

<!-- 
<div class="featured-cars">

    <div class="featured-cars-grid">


        <div class="car">




            <img src="{{ car.image1.url }}" alt="Hundai Car">
            <div class="car-info">
                <div class="car-inf-grid">
                    <p class="carName">{{ car.car_name }}</p>

                </div>


                <div class="car-inf-grid">
                    <div class="prices">
                        <p>Pricing starting at</p>
                        <strong>
                            <p class="carPrice">GH¢{{ car.price_within_kumasi }}/day</p> <span>Driving Hours - 5am to
                                9pm</span>
                        </strong>
                    </div>
                    <p>{{ car.category }}</p>

                    <div class="more-details">
                        <a href="">
                            <button> More detail </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

</div>



 -->

{% endblock %}