{% extends 'my_site/base.html' %} {% load static %} {% block content %}

<!-- bannerr -->

<div class="banner">
  <img
    src="{% static 'my_site/img/background2.jpg' %}"
    alt="background photo"
  />
  <div class="banner-text">
    <h1>About Us</h1>
  </div>
</div>

<!-- about us -->
<div class="about-us-container d-flex">
    <div class="about-us-img">
      <img src="{% static 'my_site/img/new_bg.webp' %}" alt="background photo" />
    </div>
  <div class="about-us-text">
    <h2>About Us</h2>
    <p>
      Welcome to TL Ghana, your trusted partner for reliable and flexible car
      rental services. Whether you're travelling for business, leisure, or
      family needs, we offer tailored solutions to make your journey seamless
      and enjoyable.
    </p>
    <br />
    <p>
      <strong> Vision Statement :</strong>

      To become the leading car rental company, recognized for innovation,
      customer satisfaction, and a commitment to making transportation
      accessible and hassle-free for everyone, everywhere.
    </p>
    <br />
    <p>
      <strong> Mission Statement : </strong>

      To provide convenient, affordable, and reliable car rental services that
      empower customers to travel with ease and flexibility, offering tailored
      solutions that meet their unique needs.
    </p>
    <br />

    <p>
      At TL Ghana, we pride ourselves on maintaining a fleet of high-quality
      vehicles equipped with advanced features such as mileage monitoring, alert
      systems, and service suspension for balance management. Our goal is to
      redefine car rental experiences with customer-focused solutions and
      exceptional service.

      <br />
      <br />
      Choose TL—your satisfaction drives us forward!
    </p>

  
  </div>
  <!-- end of about us -->
</div>
  {% endblock %}

