{% extends 'my_site/base.html' %} {% load static %} {% block content %}


<div class="house-detail-page">
<h1> Modern 3BR w/ best amenities and entire city view

</h1>
<div class="house-imgs">

    <div class="house-big-img">
        <img src="{% static 'my_site/img/bg444.jpeg' %}" alt="background photo" />
    </div>


    <div class="house-small-img">
        <div class="house-col">
         <img src="{% static 'my_site/img/bg444.jpeg' %}" alt="background photo" />
         <img src="{% static 'my_site/img/bg444.jpeg' %}" alt="background photo" />
         <img src="{% static 'my_site/img/bg444.jpeg' %}" alt="background photo" />
         <img src="{% static 'my_site/img/bg444.jpeg' %}" alt="background photo" />
        </div>
     </div>
       
</div>





</div>























































{% endblock %}
