{% extends 'my_site/base2.html' %} {% load static %} {% block content %}



<div class="container">
    <h1>Car Booking Table</h1>
    <div class="responsive-table">
        <table>
            <thead>
                <tr>
                    <th>Car Name</th>
                    <th>Car Number</th>
                    <th>Pick-Up Date</th>
                    <th>Return Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Toyota Corolla</td>
                    <td>GH-1234-AB</td>
                    <td>2024-12-01</td>
                    <td>2024-12-05</td>
                </tr>
                <tr>
                    <td>Hyundai Sonata</td>
                    <td>GH-5678-CD</td>
                    <td>2024-12-10</td>
                    <td>2024-12-15</td>
                </tr>
                <tr>
                    <td>Ford Explorer</td>
                    <td>GH-9012-EF</td>
                    <td>2024-12-20</td>
                    <td>2024-12-25</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>












{% endblock %}