{% extends 'my_site/base.html' %} {% load static %} {% block content %}



<!-- bannerr -->

<div class="banner">
  <img
    src="{% static 'my_site/img/background2.jpg' %}"
    alt="background photo"
  />
  <div class="banner-text">
    <h1>Contact Us</h1>
  </div>
</div>

<div class="contact-us-section">
  <div class="contact-img">
    <img src="{% static 'my_site/img/contactus.jpg' %}" alt="background photo" />

  </div>
  <div class="contact-form">
    <p>Fill out the from below to send us a message</p>
    <form method="POST">
      {% csrf_token %}

        <div class="input">
            <label for="">Name </label> <br>
            <input type="text" name="name" id="name" required placeholder="Benjamin Ohene Asare">
        </div>

        <div class="input">
            <label for="">Email </label> <br>
            <input type="text" name="email" id="email" required placeholder="benjaminoheneasare@gmail.com">
        </div>
        <div class="input">
            <label for="">Phone </label> <br>
            <input type="text" name="phone" id="phone" required placeholder="0558156844">
        </div>

        <div class="input">
            <label for="">Your Message</label> <br>
           <textarea name="message" id="message" required placeholder="your message"></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>
  </div>
</div>

{% endblock %}
