{% extends 'my_site/base2.html' %} {% load static %} {% block content %}



<div class="container">
    <h1>Car Booking Table</h1>
    <div class="responsive-table">
        <table>
            <thead>
                <tr>
                    <th>Contact Name</th>
                    <th>Contact Number</th>
                    <th>Email</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Benjamin Ohene Asare</td>
                    <td>0558156844</td>
                    <td>benjaminoheneasare65@gmail.com</td>
                    <td>This code creates a responsive car booking table. On smaller screens, the table adjusts to fit the screen width, and horizontal scrolling is enabled to prevent content from overlapping. Let me know if you need additional modifications!</td>
                </tr>
               
                
            </tbody>
        </table>
    </div>
</div>












{% endblock %}