{% extends 'my_site/base.html' %} {% load static %} {% block content %}

<style>
  .service-section {
    width: 100%;
    min-height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
      url("{% static 'my_site/img/service-background.jpg' %}");
  }
</style>

<!-- slide show -->
<div class="slide-show-container">
  <div class="slide">
    <img
      src="{% static 'my_site/img/background3.jpg' %}"
      alt="background photo"
    />
    <div class="slide-text">
      <h1>
        <span> WELCOME</span> TO <br />
        TAXINET GH
      </h1>
      <p>YOUR TRUSTED CAR RENTAL PARTNER!</p>
    </div>
  </div>
  <div class="slide">
    <img
      src="{% static 'my_site/img/background.jpg' %}"
      alt="background photo"
    />
    <div class="slide-text">
      <h1>
        <span> START YOUR </span> JOURNEY <br />
        WITH TAXINET GH
      </h1>
      <p>EXPERIENCE THE FREEDOM OF HASSLE-FREE TRAVEL.</p>
    </div>
  </div>
  <div class="slide">
    <img
      src="{% static 'my_site/img/background.jpg' %}"
      alt="background photo"
    />
    <div class="slide-text">
      <h1>
        <span> FREEDOM</span> TO <br />
        GO PLACES
      </h1>
      <p>RENT A CAR IN A FEW CLICKS</p>
    </div>
  </div>

  <button class="prev" onclick="prevSlide()">&#10094;</button>
  <button class="next" onclick="nextSlide()">&#10095;</button>
</div>

<!-- end of slide show -->

<!-- about us -->
<div class="about-us-container">
  <div class="about-us-text">
    <h2>About Us</h2>
    <p>
      Welcome to Taxinet, your trusted partner for reliable and flexible car
      rental services. Whether you're travelling for business, leisure, or
      family needs, we offer tailored solutions to make your journey seamless
      and enjoyable.
    </p>
    <br />
    <p>
      <strong> Vision Statement :</strong>

      To become the leading car rental company, recognized for innovation,
      customer satisfaction, and a commitment to making transportation
      accessible and hassle-free for everyone, everywhere.
    </p>  <br>
    <p>
      <strong> Mission Statement : </strong>

      To provide convenient, affordable, and reliable car rental services that
      empower customers to travel with ease and flexibility, offering tailored
      solutions that meet their unique needs.
    </p>

    <div class="readMore">
      <a href="{% url 'aboutUs' %}">Read More</a>
    </div>
  </div>

  <div class="about-us-img">
    <img src="{% static 'my_site/img/car.png' %}" alt="background photo" />
  </div>
</div>
<!-- end of about us -->

<!-- service -->
<div class="service-section">
    <h2>Our Service</h2>
  <div class="service-grid">
    <div class="service">
      <i class="fas fa-briefcase"></i>
     
      <h4>Pay and Drive</h4>
      <p>
        Pay upfront and hit the road with no delays.


      </p>
    </div>
    <div class="service">
      <i class="fas fa-sun"></i>
    
      <h4>Drive and Pay:</h4>
      <p>
        Enjoy the freedom to pay at the end of your trip.

      </p>
    </div>
    <div class="service">
      <i class="fas fa-plane-arrival"></i>
      <!-- Airport Pickup icon -->
      <h4>Bugger's Drive:</h4>
      <p>
        Designed for customers residing outside Ghana, this self-drive service eliminates the need to bring your own car to Ghana. Simply provide a Treasury Bill as a guarantee, and we'll ensure you have a car to use throughout your stay.

      </p>
    </div>
  </div>
</div>

<!-- end  of service -->

<!-- featured-cars -->
<div class="featured-cars">
  <div class="heading">
    <h3>Featured Cars</h3>
  </div>
  <div class="featured-cars-grid">
    {% for car in cars %}
   <div class="car">
      <img src="{{ car.image1.url }}" alt="Hundai Car" />
      <div class="car-info">
        <div class="car-inf-grid">
          <p class="carName">{{ car.car_name }}</p>
          
        </div>
       
        
        <div class="car-inf-grid">
          <div class="prices">
            <p>Pricing starting at</p>
         <strong> <p class="carPrice">GH¢{{ car.price_per_day }}/day</p> </strong>
          </div>
         
         <div class="more-details">
          <a href="{% url 'carDetail' car.slug %}" >
            <button> More detail  </button>
          </a>
         </div>
        </div>
      </div>
  </div>
    {% endfor %}
  </div>
</div>

<!-- why choose us -->

<div class="why-choose-us">
  <div class="why-container">
    <h3>WHY CHOOSE US</h3>
    <p>
        • Wide Range of Vehicles <br>
        From sleek sedans to spacious SUVs and vans, we offer a variety of vehicles to suit your travel requirements.
    </p>
    <br />
    <p>
      • Affordable Rates <br>
      Enjoy competitive pricing without compromising on quality and comfort.
    </p>
    <br />
    <p>
      • Flexible Booking Options <br>
      Rent by the hour, day, week, or month. Our plans are as flexible as your needs.
    </p>
    <br />
    <p>
      • 24/7 Customer Support <br>
      Our dedicated team is always available to assist you with bookings, inquiries, and emergencies.
    </p>
    <br />
  <p>
    • Safe and Reliable <br>
    All our vehicles are regularly serviced and well-maintained to ensure a safe journey.
  </p>
    
  </div>

  <div class="why-container-img">
    <img
      src="{% static 'my_site/img/service-background.jpg' %}"
      alt="Hundai Car"
    />
  </div>
</div>

<!-- client reviews -->
<div class="client-review">
  <div class="heading">
    <h3>What Clients Say</h3>
  </div>

  <div class="client-say-grid">
    <div class="client">
      <div class="client-detail">
        <img
          src="{% static 'my_site/img/service-background.jpg' %}"
          alt="Hundai Car"
        />
        <p>Godfred Yaw Tenkorang</p>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero deleniti
        esse nobis modi totam dolor.
      </p>
    </div>
    <div class="client">
      <div class="client-detail">
        <img
          src="{% static 'my_site/img/service-background.jpg' %}"
          alt="Hundai Car"
        />
        <p>Benjamin ohene Asare</p>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero deleniti
        esse nobis modi totam dolor.
      </p>
    </div>
    <div class="client">
      <div class="client-detail">
        <img
          src="{% static 'my_site/img/service-background.jpg' %}"
          alt="Hundai Car"
        />
        <p>Eunice Ansah</p>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero deleniti
        esse nobis modi totam dolor.
      </p>
    </div>
  </div>
</div>

{% endblock %}
