{% extends 'my_site/base.html' %} {% load static %} {% block content %}

<style>
  .service-section {
    width: 100%;
    min-height: 50vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
      url("{% static 'my_site/img/service-background.jpg' %}");
  }
</style>

<!-- slide show -->
<div class="slide-show-container">
  <div class="slide">
    <img
      src="{% static 'my_site/img/tlbg.jpg' %}"
      alt="background photo"
    />
    <div class="slide-text">
      <h1>
        <span> WELCOME</span> TO <br />
        TL GHANA
      </h1>
      <p>YOUR TRUSTED CAR RENTAL PARTNER!</p>
    </div>
  </div>
  <div class="slide">
    <img
      src="{% static 'my_site/img/background3.jpg' %}"
      alt="background photo"
    />
    <div class="slide-text">
      <h1>
        <span> START YOUR </span> JOURNEY <br />
        WITH TL GHANA
      </h1>
      <p>EXPERIENCE THE FREEDOM OF HASSLE-FREE TRAVEL.</p>
    </div>
  </div>
  <div class="slide">
    <img
      src="{% static 'my_site/img/background.jpg' %}"
      alt="background photo"
    />
    <div class="slide-text">
      <h1>
        <span> RIDE, TRAVEL</span> & STAY <br />
        
      </h1>
      <p>WITH US SAFELY</p>
    </div>
  </div>

  <button class="prev" onclick="prevSlide()">&#10094;</button>
  <button class="next" onclick="nextSlide()">&#10095;</button>
</div>

<!-- end of slide show -->

<!-- about us -->
<div class="about-us-container">
  <div class="about-us-text">
    <h2>About Us</h2>
    <p>
      Welcome to TL Ghana, your trusted partner for reliable and flexible car
      rental services. Whether you're travelling for business, leisure, or
      family needs, we offer tailored solutions to make your journey seamless
      and enjoyable.
    </p>
    <br />
    <p>
      <strong> Vision Statement :</strong>

      To become the leading car rental company, recognized for innovation,
      customer satisfaction, and a commitment to making transportation
      accessible and hassle-free for everyone, everywhere.
    </p>  <br>
    <p>
      <strong> Mission Statement : </strong>

      To provide convenient, affordable, and reliable car rental services that
      empower customers to travel with ease and flexibility, offering tailored
      solutions that meet their unique needs.
    </p>

    <div class="readMore">
      <a href="{% url 'aboutUs' %}">Read More</a>
    </div>
  </div>

  <div class="about-us-img">
    <img src="{% static 'my_site/img/car.png' %}" alt="background photo" />
  </div>
</div>
<!-- end of about us -->

<!-- service -->
<div class="service-section">
    <h2>Our Service</h2>
  <div class="service-grid">
    <div class="service">
      <i class="fas fa-key"></i>
     
      <h4>Pay and Move:</h4>
      <p>
        Pay upfront and hit the road with no delays.


      </p>
    </div>
    <div class="service">
      <i class="fas fa-clock-o"></i>
    
      <h4>Move and Pay:</h4>
      <p>
        Enjoy the freedom to pay at the end of your trip.

      </p>
    </div>
    <div class="service">
      <i class="fas fa-plane-arrival"></i>
      <!-- Airport Pickup icon -->
      <h4>Borga's Drive:</h4>
      <p>
        A unique car rental service designed for customers who prefer to drive themselves.
      </p>
    </div>
    <div class="service">
      <i class="fas fa-hourglass-end"></i>
      <!-- Airport Pickup icon -->
      <h4>Scheduled Drive:</h4>
      <p>
        Scheduled Drive allows you to book a car in advance for a specific time and duration.
      </p>
    </div>
  </div>
</div>

<!-- end  of service -->

<!-- featured-cars -->
<div class="featured-cars">
  <div class="heading">
    <h3>Featured Cars</h3>
  </div>
  <div class="featured-cars-grid">
    {% for car in cars %}
   <div class="car">
      <img src="{{ car.image1.url }}" alt="Hundai Car" />
      <div class="car-info">
        <div class="car-inf-grid">
          <p class="carName">{{ car.car_name }}</p>
          
        </div>
       
        
        <div class="car-inf-grid">
          <div class="prices">
            <p>Pricing starting at</p>
            <strong> <p class="carPrice">GH¢{{ car.price_within_kumasi }}/day</p> </strong>
          </div>
          <p>{{ car.category }}</p>
         
         <div class="more-details">
          <a href="{% url 'carDetail' car.slug %}" >
            <button> More detail  </button>
          </a>
         </div>
        </div>
      </div>
  </div>
    {% endfor %}
  </div>
</div>

<!-- why choose us -->

<div class="why-choose-us">
  <div class="why-container">
    <h3>WHY CHOOSE US</h3>
    <p>
        • Wide Range of Vehicles <br>
        From sleek sedans to spacious SUVs and vans, we offer a variety of vehicles to suit your travel requirements.
    </p>
    <br />
    <p>
      • Affordable Rates <br>
      Enjoy competitive pricing without compromising on quality and comfort.
    </p>
    <br />
    <p>
      • Flexible Booking Options <br>
      Rent by the hour, day, week, or month. Our plans are as flexible as your needs.
    </p>
    <br />
    <p>
      • 24/7 Customer Support <br>
      Our dedicated team is always available to assist you with bookings, inquiries, and emergencies.
    </p>
    <br />
  <p>
    • Safe and Reliable <br>
    All our vehicles are regularly serviced and well-maintained to ensure a safe journey.
  </p>
    
  </div>

  <div class="why-container-img">
    <img
      src="{% static 'my_site/img/service-background.jpg' %}"
      alt="Hundai Car"
    />
  </div>
</div>

<!-- client reviews -->
<!-- <div class="client-review">
 
  <div class="client-say-grid">
    <div class="client">
      <div class="client-detail">
        <img
          src="{% static 'my_site/img/testimonial-img.png' %}"
          alt="Hundai Car"
        />
        <p>Godfred Yaw Tenkorang</p>
      </div>
      <p>
        Great rates and fantastic customer service. TL Ghana is my go-to car rental company whenever I’m in town.
      </p>
    </div>
    <div class="client">
      <div class="client-detail">
        <img
          src="{% static 'my_site/img/testimonial-img.png' %}"
          alt="Hundai Car"
        />
        <p>Benjamin ohene Asare</p>
      </div>
      <p>
        The car I rented was spotless and ran perfectly. The team at TL Ghana ensures every client gets top-notch service.
      </p>
    </div>
    <div class="client">
      <div class="client-detail">
        <img
          src="{% static 'my_site/img/testimonial-img.png' %}"
          alt="Hundai Car"
        />
        <p>Eunice Ansah</p>
      </div>
      <p>
        The staff were incredibly friendly and professional. They ensured I had all the information I needed before hitting the
        road.
      </p>
    </div>
  </div>
</div> -->



<div class="wrapper-container">
  <div class="heading">
    <h3>What Clients Say</h3>
  </div>

  <div class="wrapper">
    <i id="left" class="fa-solid fa-angle-left"></i>
    <ul class="carousel">
      <li class="card">
        <div class="img" draggable="false">
          <h2>Kwame Adom</h2>
          <blockquote>"The service was exceptional, and the car was in excellent condition. I highly recommend!"</blockquote>
        </div>
      </li>
      <li class="card">
        <div class="img" draggable="false">
          <h2>Ama Owusu</h2>
          <blockquote>"I was impressed by the seamless process and the reliability of the car rental service."</blockquote>
        </div>
      </li>
      <li class="card">
        <div class="img" draggable="false">
          <h2>Kofi Mensah</h2>
          <blockquote>"An excellent choice for anyone looking for dependable transportation. Will definitely use again."</blockquote>
        </div>
      </li>
      <li class="card">
        <div class="img" draggable="false">
          <h2>Akosua Afriyie</h2>
          <blockquote>"The whole experience was very smooth, and the car was well-maintained throughout my trip."</blockquote>
        </div>
      </li>
      <li class="card">
        <div class="img" draggable="false">
          <h2>Yaw Boakye</h2>
          <blockquote>"I couldn't have asked for a better service. Everything exceeded my expectations."</blockquote>
        </div>
      </li>
    </ul>
    <i id="right" class="fa-solid fa-angle-right"></i>
  </div>
  
  
</div>









<script>
const wrapper = document.querySelector(".wrapper");
const carousel = document.querySelector(".carousel");
const firstCardWidth = carousel.querySelector(".card").offsetWidth;
const arrowBtns = document.querySelectorAll(".wrapper i");
const carouselChildrens = [...carousel.children];
let isDragging = false, isAutoPlay = true, startX, startScrollLeft, timeoutId;
// Get the number of cards that can fit in the carousel at once
let cardPerView = Math.round(carousel.offsetWidth / firstCardWidth);
// Insert copies of the last few cards to beginning of carousel for infinite scrolling
carouselChildrens.slice(-cardPerView).reverse().forEach(card => {
    carousel.insertAdjacentHTML("afterbegin", card.outerHTML);
});
// Insert copies of the first few cards to end of carousel for infinite scrolling
carouselChildrens.slice(0, cardPerView).forEach(card => {
    carousel.insertAdjacentHTML("beforeend", card.outerHTML);
});
// Scroll the carousel at appropriate postition to hide first few duplicate cards on Firefox
carousel.classList.add("no-transition");
carousel.scrollLeft = carousel.offsetWidth;
carousel.classList.remove("no-transition");
// Add event listeners for the arrow buttons to scroll the carousel left and right
arrowBtns.forEach(btn => {
    btn.addEventListener("click", () => {
        carousel.scrollLeft += btn.id == "left" ? -firstCardWidth : firstCardWidth;
    });
});
const dragStart = (e) => {
    isDragging = true;
    carousel.classList.add("dragging");
    // Records the initial cursor and scroll position of the carousel
    startX = e.pageX;
    startScrollLeft = carousel.scrollLeft;
}
const dragging = (e) => {
    if(!isDragging) return; // if isDragging is false return from here
    // Updates the scroll position of the carousel based on the cursor movement
    carousel.scrollLeft = startScrollLeft - (e.pageX - startX);
}
const dragStop = () => {
    isDragging = false;
    carousel.classList.remove("dragging");
}
const infiniteScroll = () => {
    // If the carousel is at the beginning, scroll to the end
    if(carousel.scrollLeft === 0) {
        carousel.classList.add("no-transition");
        carousel.scrollLeft = carousel.scrollWidth - (2 * carousel.offsetWidth);
        carousel.classList.remove("no-transition");
    }
    // If the carousel is at the end, scroll to the beginning
    else if(Math.ceil(carousel.scrollLeft) === carousel.scrollWidth - carousel.offsetWidth) {
        carousel.classList.add("no-transition");
        carousel.scrollLeft = carousel.offsetWidth;
        carousel.classList.remove("no-transition");
    }
    // Clear existing timeout & start autoplay if mouse is not hovering over carousel
    clearTimeout(timeoutId);
    if(!wrapper.matches(":hover")) autoPlay();
}
const autoPlay = () => {
    if(window.innerWidth < 800 || !isAutoPlay) return; // Return if window is smaller than 800 or isAutoPlay is false
    // Autoplay the carousel after every 2500 ms
    timeoutId = setTimeout(() => carousel.scrollLeft += firstCardWidth, 2500);
}
autoPlay();
carousel.addEventListener("mousedown", dragStart);
carousel.addEventListener("mousemove", dragging);
document.addEventListener("mouseup", dragStop);
carousel.addEventListener("scroll", infiniteScroll);
wrapper.addEventListener("mouseenter", () => clearTimeout(timeoutId));
wrapper.addEventListener("mouseleave", autoPlay);
 </script> 






{% endblock %}
