{% extends 'my_site/base.html' %} {% load static %} {% block content %}

<!-- bannerr -->

<div class="banner">
  <img
    src="{% static 'my_site/img/background2.jpg' %}"
    alt="background photo"
  />
  <div class="banner-text">
    <h1></h1>
  </div>
</div>

<div class="account-container">
  
  <div class="contact-form">
    
    <form action="">

     

        <div class="input">
            <label for="">Email </label> <br>
            <input type="email" name="" id="" required placeholder="benjaminoheneasare@gmail.com">
        </div>
       
        <div class="input">
            <label for="">Password</label> <br>
        <input type="password" required>
        </div>
     

        <button>Submit</button>


    </form>
   
  </div>
</div>

{% endblock %}
