{% extends 'my_site/base.html' %} {% load static %} {% block content %}

<!-- bannerr -->

<div class="banner">
    <img src="{% static 'my_site/img/background2.jpg' %}" alt="background photo" />
    <div class="banner-text">
        <h1>Choose From These Beautiful Cars and Ride</h1>
    </div>
</div>



<div class="featured-cars">

    <div class="featured-cars-grid">



{% if cars %}
        {% for car in cars %}
        <div class="car">

       
       

            <img src="{{ car.image1.url }}" alt="Hundai Car">
            <div class="car-info">
                <div class="car-inf-grid">
                  <p class="carName">{{ car.car_name }}</p>
                  
                </div>
               
                
                <div class="car-inf-grid">
                    <div class="prices">
                        <p>Pricing starting at</p>
                 <strong> <p class="carPrice">GH¢{{ car.price_within_kumasi }}/day</p> <span>Driving Hours - 5am to 9pm</span> </strong>
                </div>
                <p>{{ car.category }}</p>
                 
                 <div class="more-details">
                  <a href="{% url 'carDetail' car.slug %}" >
                    <button> More detail  </button>
                  </a>
                 </div>
                </div>
              </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="center">
            <p>No Cars<br>Added Yet</p>
        </div>
        {% endif %}

    </div>

</div>





{% endblock %}