{% extends 'my_site/base2.html' %} {% load static %} {% block content %}


<div class="send-message-form">
   
    <form action="">

       <div class="input">
        <label for="">Recepient Number</label> <br>
        <input type="number" name="" id="" required placeholder="example 0558156844">
       </div> 
       <div class="input">
        <label for="">Message</label> <br>
       <textarea name="" id="" placeholder="Hi Mr Asare"></textarea>
       </div> 

       <button>Send</button>
        

    </form>
</div>











{% endblock %}