{% extends 'my_site/base.html' %} {% load static %} {% block content %}

<!-- bannerr -->

<div class="banner">
  <img
    src="{% static 'my_site/img/background2.jpg' %}"
    alt="background photo"
  />
  <div class="banner-text">
    <h1>Our Service</h1>
  </div>
</div>



<!-- service -->
<div class="servicepage-section">
    
  <div class="about-service">
      <div class="a-service">
          <i class="fas fa-briefcase"></i> <!-- Business Rentals icon -->
          <h4>Business Rentals:</h4>
          <p>Reliable vehicles for corporate travel. Choose from a fleet of well-maintained cars, equipped for your
              business meetings, events, or conferences, ensuring you arrive on time and in style.</p>
      </div>
      <div class="a-service">
          <i class="fas fa-sun"></i> <!-- Vacation Rentals icon -->
          <h4>Vacation Rentals:</h4>
          <p>Choose from a variety of cars for your next adventure. Whether you're heading to the beach, mountains, or
              city, we offer the perfect vehicle to make your trip unforgettable.</p>
      </div>
      <div class="a-service">
          <i class="fas fa-plane-arrival"></i> <!-- Airport Pickup icon -->
          <h4>Airport Pickup:</h4>
          <p>Convenient airport car hire options. Arrive and drive with ease—your vehicle will be ready at the
              airport, so you can start your journey immediately without any hassle.</p>
      </div>
  </div>

</div>

<!-- end  of service -->






{% endblock %}