{% extends 'my_site/base.html' %} {% load static %} {% block content %}

<!-- bannerr -->

<div class="banner">
  <img
    src="{% static 'my_site/img/background2.jpg' %}"
    alt="background photo"
  />
  <div class="banner-text">
    <h1>Our Service</h1>
  </div>
</div>



<!-- service -->
<div class="servicepage-section">
    
  <div class="about-service">
      <div class="a-service">
          <i class="fas fa-briefcase"></i> <!-- Business Rentals icon -->
          <h4>Pay and Drive</h4>
          <p>
            Pay upfront and hit the road with no delays.
    
    
          </p>
      </div>
      <div class="a-service">
          <i class="fas fa-sun"></i> <!-- Vacation Rentals icon -->
          <h4>Drive and Pay:</h4>
          <p>
            Enjoy the freedom to pay at the end of your trip.
    
          </p>
      </div>
      <div class="a-service">
          <i class="fas fa-plane-arrival"></i> <!-- Airport Pickup icon -->
          <h4>Bugger's Drive:</h4>
      <p>
        Designed for customers residing outside Ghana, this self-drive service eliminates the need to bring your own car to Ghana. Simply provide a Treasury Bill as a guarantee, and we'll ensure you have a car to use throughout your stay.

      </p>
      </div>
  </div>

</div>

<!-- end  of service -->






{% endblock %}