{% extends 'dashboard/base2.html' %} {% load static %} {% block content %}

<div class="send-message-form">
    <br><br>

    
    <div class="container">
        <h1>Driver Detail</h1>
        <div class="responsive-table">
            <table>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>License Number</th>
                        <th>Phone Number</th>
                        <th>License Issue Date</th>
                        <th>License Expiry Date</th>
                        <th>License Expiry <br> Days Left</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>{{ driver.first_name }}</td>
                        <td>{{ driver.last_name }}</td>
                        <td>{{ driver.licence_number }}</td>
                        <td>{{ driver.phone_number }}</td>
                        <td>{{ driver.license_issue_date }}</td>
                        <td>{{ driver.licence_expiry_date }}</td>
                        <td>{{ driver.days_of_expiry }}</td>

                    </tr>
                    

                </tbody>
            </table>
        </div>
    </div>

    <form method="POST">
        {% csrf_token %}
    
        <p>Click the 'Send' button to deliver an SMS notification to the driver regarding their license expiry date.</p>
        
        <br>
        <button type="submit">Send</button>
    
    
    </form>
</div>













{% endblock %}